<div class="shadow col-md-6 offset-md3 p-3 m-3">
    <form (ngSubmit)="saveSermon()" #sermonForm="ngForm"  >
                <!-- name: String
                desc: String
                date: Date
                image: File
                audio: File -->
        <div class="form-group">
            <label>Tytuł</label>
            <input
            required
            [(ngModel)] = sermon.name  
            name="name"    
            id="name"
            type="text"
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Treść</label>
            <input
            [(ngModel)] = sermon.desc  
            name="desc"    
            id="desc"
            type="text"
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Data kazania</label>
            <input 
            [(ngModel)] = sermon.date
            name="date"    
            id="date"
            type="date" 
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Zdjęcie</label>
            <input 
            name="image"
            id="image"
            (change)="handleImageInput($event.target.files)"    
            type="file" 
            class="form-control-file"
            accept="image/*">
        </div>
        <div class="form-group">
            <label>Kazanie audio</label>
            <input 
            required
            name="audio"
            id="audio"
            (change)="handleAudioInput($event.target.files)"    
            type="file" 
            class="form-control-file" 
            accept="audio/*">
        </div>
      
        <button [disabled] = "!sermonForm.valid" class ="btn btn-primary" type="submit" value="Stwórz">
            <span *ngIf="!uploadingInProgress">
                <div *ngIf="!sermonUpdating">Stwórz</div>
                <div *ngIf="sermonUpdating">Aktualizuj</div>
            </span>
            <span *ngIf="uploadingInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="uploadingInProgress" class="sr-only">Loading...</span>
        </button>
    </form>
    </div>
    
    <div *ngIf="!sermonUpdating" class="shadow p-3 m-3  table-responsive">        
        <table class="table table-striped">
            <thead>
                <tr>    
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Data</th>
                <th>Zdjęcie</th>
                <th>Audio</th>
                <th>Modyfikuj</th>
                <th>Usuń</th>
            </tr>
            <tr *ngFor = "let sermon of sermonList">
                <td>{{sermon.name}}</td>
                <td>{{sermon.desc}}</td>
                <!-- <td>{{sermon.date.substring(0,10)}}</td> -->
                <td *ngIf="sermon.date != null; else emptyCell">{{sermon.date.substring(0,10)}}</td>
                <ng-template #emptyCell><td></td></ng-template>
                <td>{{sermon.image}}</td>
                <td>{{sermon.audio}}</td>
                <td *ngIf="!sermon.deleting" (click)="update(sermon.id)"><img src="assets\pencil.svg" alt=""></td>
                <td *ngIf="!sermon.deleting" (click)="deleteProccesing(sermon.id)"  ><img src="assets\trashcan.svg" alt=""></td>
                <td colspan="2" *ngIf="sermon.deleting"  > 
                    <button type="button" class="btn btn-danger mr-2" (click)="deleteProccesing(sermon.id)"><img src="assets\x.svg" alt=""></button>
                    <button type="button" class="btn btn-success" (click)="delete(sermon.id)"><img src="assets\check.svg" alt=""></button>
                </td>
            </tr>
        </thead>
        
    </table>
</div>