<div class="mainRow">
    <div *ngIf="newsList.length == 0 ; else content">
        <p>
            Póki co nie ma żadnych aktualności
        </p>
    </div>
    <ng-template #content>
    <div *ngFor= "let news of newsList">
        <app-news [news]="news"></app-news>
    </div>
    <div class="row">
        <div class="col">
            <button [disabled]="previousDisabled" class="btn btn-primary" (click)="previousPage()">Poprzednia</button>
        </div>
        <div class="col-5">
            <p>{{page+1}} z {{pagesCount+1}}</p>
        </div>
        <div class="col">
            <button [disabled]="nextDisabled" class="btn btn-primary" (click)="nextPage()">Następna</button>
        </div>
      </div>
      </ng-template> 
</div>
