.mainRow{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    // max-width: 65rem;

    .col, .col-5{
        display: flex;
        justify-content: center;
        align-items: center;
      
        button{
            vertical-align: middle;

        }
    }
}