<div class="mx-auto w-50 pt-5 p-2">
    <h2>Kościół Ewangelicznych Chrześcijan</h2>
    <h2>Zbór w Piotrkowie Trybunalskim</h2>
    <p>ul. Stodolniana 2</p>
    <p> 97-300 Piotrków Trybunalski</p>
        
    <h2>Nabożeństwa</h2>
    <p>niedziela 10.00 – 11.30</p>
    <p>czwartek 18.00 – 19.00</p>
                
    <h2>Witryny</h2>
    <p>YouTube Kościół Ewangelicznych Chrześcijan [Piotrków Tryb]</p>
    <p>facebook @wspolnotaewangelicznychchrzescijan</p>

    <h2>Rachunek bankowy</h2>
    <p>PEKAO I O. w Piotrkowie Tryb.</p>
    <p> 34 1240 3116 1111 0000 3503 6874</p>

    <h2>Jak dojechać</h2>
    <div id="map">
    <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2489.1188308721335!2d19.692781215739647!3d51.40087122630747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47198aeb618a2355%3A0xaef8a16fa3c7f342!2sStodolniana+2%2C+Piotrk%C3%B3w+Trybunalski!5e0!3m2!1spl!2spl!4v1451300513023" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>

    </div>
</div>