<div class="shadow col-md-6 offset-md3 p-3 m-3">
    <form (ngSubmit)="saveNews()" #newsForm="ngForm"  >
        <div class="form-group">
            <label for="title">Tytuł</label>
            <input 
            required
            minlength="3" 
            [(ngModel)] = news.title 
            name="title"    
            #title="ngModel"  
            id="title"
            type="text" 
            class="form-control"> 
             <div 
                class="alert alert-danger" 
                *ngIf="!newsForm.submitted  && title.invalid && (title.dirty || title.touched)">
                 <div 
                    *ngIf="title.errors.required">
                    Nie podano tytułu
                </div>
                 <div 
                    *ngIf="title.errors.minlength">
                    Tytuł jest za którki
                </div>
             </div>
        </div>
        <div class="form-group">
            <label>Treść</label>
            <input
            [(ngModel)] = news.content  
            name="content"    
            rows="5" 
            id="content"
            type="text"
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Autor</label>
            <input 
            [(ngModel)] = news.author  
            name="author"    
            id="author"
            type="text" 
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Data utworzenia</label>
            <input 
            [(ngModel)] = news.createDate  
            name="createDate"    
            id="createDate"
            type="date" 
            class="form-control"> 
        </div>
        <div class="form-group">
            <label>Zdjęcie</label>
            <input 
            name="image"
            id="image"
            (change)="handleFileInput($event.target.files)"    
            type="file" 
            class="form-control-file" 
            accept="image/*">
        </div>
        <button 
        [disabled] = "!newsForm.valid" class ="btn btn-primary" type="submit" value="Stwórz">
        <span *ngIf="!uploadingInProgress">
            <div *ngIf="!newsUpdating">Stwórz</div>
            <div *ngIf="newsUpdating">Aktualizuj</div>
        </span>
        <span *ngIf="uploadingInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="uploadingInProgress" class="sr-only">Loading...</span>
        </button>
    </form>
</div>
<div *ngIf="!newsUpdating" class="shadow p-3 m-3 table-responsive" >        
    <table class="table table-striped">
        <thead>
            <tr>    
                <th>Tytuł</th>
                <th>Treść</th>
                <th>Autor</th>
                <th>Zdjęcie</th>
                <th>Data utworzenia</th>
                <th>Modyfikuj</th>
                <th>Usuń</th>
            </tr>
            <tr *ngFor = "let news of newsList">
                <td>{{news.title}}</td>
                <td>{{news.content}}</td>
                <td>{{news.author}}</td>
                <td>{{news.photo}}</td>
                <td *ngIf="news.createDate != null; else emptyCell">{{news.createDate.substring(0,10)}}</td>
                <ng-template #emptyCell><td></td></ng-template>
                <td *ngIf="!news.deleting" (click)="update(news.id)" ><img src="assets\pencil.svg" alt=""></td>
                <td *ngIf="!news.deleting" (click)="deleteProccesin(news.id)"  ><img src="assets\trashcan.svg" alt=""></td>
                <td colspan="2" *ngIf="news.deleting"  > 
                    <button type="button" class="btn btn-danger mr-2" (click)="deleteProccesin(news.id)"><img src="assets\x.svg" alt=""></button>
                    <button type="button" class="btn btn-success" (click)="delete(news.id)"><img src="assets\check.svg" alt=""></button>
                </td>
            </tr>
        </thead>
        
    </table>
</div>